<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
            <strong>This tutorial has been put together by Luke</strong><br />
        </div>
        <div>
            <a href="/fittrack/">Index</a><br />
            <img src="{% static 'images/rango.JPG' %}" alt="Picture of Rango" /> 
            <img src="{{ MEDIA_URL }}images/eamonn.JPG" alt="Picture of Eamonn" />

        </div>
    </body>

</html>